<div class="page-header-wrap">
	<h1 class="page-heading">Change password</h1>
</div>

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-8">	
			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form" id="change-password-form" class="form-horizontal m-t validation-enabled" method="post">
	                    <div class="form-group">
	                        <label class="col-md-4 control-label">Old Password</label>
	                        <div class="col-md-7">
	                            <input class="form-control" name="oldPassword" type="password" placeholder="Old Password" autofocus required />
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-md-4 control-label">New Password</label>
	                        <div class="col-md-7">
	                            <input class="form-control" name="newPassword" type="password" placeholder="New Password" autofocus required />
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-md-4 control-label">Re-Type Password</label>
	                        <div class="col-md-7">
	                            <input class="form-control" name="rePassword" type="password" placeholder="Re-Type Password" autofocus required />
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <div class="col-md-7 col-md-offset-4">
	                            <input type="submit" value="Save" class="btn btn-primary" />
	                        </div>
	                    </div>    
	                </form>
				</div>
			</div>
		</div>
	</div>
</div>